[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/quickjs-ffi"]
	path = deps/quickjs-ffi
	url = https://github.com/shajunxing/quickjs-ffi.git
[submodule "deps/cfltk"]
	path = deps/cfltk
	url = https://github.com/MoAlyousef/cfltk.git
[submodule "deps/libffi"]
	path = deps/libffi
	url = https://github.com/libffi/libffi.git
